body { 
	padding: 0; 
	margin: 0; 
}

html,body,#container { 
	height: 100%; 
	width: 100%; 
	overflow: hidden; 
}

#map { 
	width: auto; 
	height: 100%; 
}

#map:focus { 
	border: 1px;
	outline: 0; 
}

.modal-header { /* Feature Bootstrap Modal Header */
	padding:9px 15px; 
	border-bottom:1px solid #eee; 
	background-color: #337AB7; 
}

.popover-title { /* Popover Modal Header */
	background-color: #D0CFD4;
	font-weight: bold;
}

input[type="radio"],input[type="checkbox"] { /* Legend Margin */
	margin: 0;
}