body { 
	padding: 0; 
	margin: 0; 
}

html,body,#container { 
	height: 100%; 
	width: 100%; 
	overflow: hidden; 
}

#map { 
	width: auto; 
	height: 100%; 
}

#map:focus { 
	border: 1px;
	outline: 0; 
}